td a{
    text-decoration: none !important;
    color: black;
    display: inline-block;
    height: 50px;
    width: 200px;
    
}
td a:hover{
    border-bottom: 2px, solid, black;
}
tr:nth-child(even){
    background-color: seashell;

}

#input{
    margin-top: 2px;
    margin-bottom: 2px;
}